@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
} /* conteiner de fora */

section#celular{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     /* conteiner de dentro */

    height: 654px;
    width: 319px;
    background: url('../imagens/frame-new4.png') no-repeat; 
}

iframe#tela{
    border-radius: 5px;
    position: relative;
    top: 32.7px;
    left: 9.2px;
    width: 300px;
    height: 586.8px;
}

section#rede-social{
    text-align: right;
}

section#rede-social img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(255, 128, 0, 0.614);
    box-sizing: border-box;
}

section#rede-social img:hover{
    border: 3px solid rgba(255, 255, 255, 0.529);
    transform: translate(-4px, -4px);
    box-shadow: 5px 5px 10px rgba(255, 128, 0, 0.629);
    transition: transform .7s, border 1s;
}